In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('GSE13159.csv')

In [ ]:
df

,sample,type,AFFX-BioB-5_at,AFFX-BioB-M_at,AFFX-BioB-3_at,AFFX-BioC-5_at,AFFX-BioC-3_at,AFFX-BioDn-5_at,AFFX-BioDn-3_at,AFFX-CreX-5_at,...,1570631_at,1570632_at,1570633_at,1570635_at,1570639_at,1570644_at,1570645_at,1570650_at,1570651_at,1570653_at
0,GSM329407,mature B-ALL with t(8;14),1019.380,1099.16,688.488,2576.98,3363.56,6420.71,12750.3,26337.3,...,89.8769,16.5212,48.50100,18.0256,25.8039,31.1645,48.5148,20.3446,72.4218,23.0226
1,GSM329408,mature B-ALL with t(8;14),1126.740,1167.66,840.345,2572.97,3291.99,6171.86,11723.4,27573.8,...,37.0536,62.7578,28.36350,45.4390,59.3555,51.2732,85.3964,36.3192,37.2117,29.1351
2,GSM329409,mature B-ALL with t(8;14),1545.940,2062.58,1240.190,3278.49,4032.60,8713.10,18047.1,44608.9,...,74.3732,26.2296,42.94400,22.7571,109.2970,51.7468,45.0193,43.8192,58.5590,13.2296
3,GSM329410,mature B-ALL with t(8;14),2747.020,2703.53,1646.690,6280.02,7565.71,13037.10,29576.3,61453.7,...,117.7080,25.2851,30.64780,89.1606,78.0304,238.0590,93.7531,32.9817,196.1200,28.1665
4,GSM329411,mature B-ALL with t(8;14),5614.930,9707.90,5331.420,17928.60,18722.00,28874.10,70896.2,128980.0,...,309.3450,52.8402,104.07000,136.9210,125.5090,57.2892,127.5280,214.8240,488.8230,122.2930
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2091,GSM331728,Non-leukemia and healthy bone marrow,801.557,1164.89,641.835,2349.87,3577.89,5179.81,11376.6,32543.2,...,97.6645,43.1096,39.67160,19.0503,19.5543,34.8201,33.8215,63.2554,126.4980,13.2352
2092,GSM331729,Non-leukemia and healthy bone marrow,1102.120,1612.17,851.951,2970.22,4444.84,5886.24,14325.9,32958.0,...,63.4420,15.3373,9.18793,13.4574,37.3001,98.8915,47.6456,19.6809,137.1330,38.2153
2093,GSM331730,Non-leukemia and healthy bone marrow,984.051,1328.34,863.258,2560.68,3588.98,5296.43,11789.3,28766.6,...,111.4570,18.1055,31.71570,24.5575,43.2064,66.1001,53.7823,58.4748,11.1636,26.2777
2094,GSM331731,Non-leukemia and healthy bone marrow,934.402,1236.07,718.028,2671.57,3663.81,5064.37,12594.0,32548.2,...,66.3315,45.3812,14.90950,17.7021,105.5470,28.1117,42.7926,59.1250,34.4237,20.7161
2095,GSM331732,Non-leukemia and healthy bone marrow,872.814,987.15,660.132,1961.69,2972.71,4068.54,9797.4,24761.8,...,76.9509,4.0510,11.62330,22.0843,11.6507,54.4884,16.3556,10.8521,62.0349,55.3259

In [ ]:
df = df.drop('sample',axis=1)

In [ ]:
df = df.rename(columns = {'type':'class'})

In [ ]:
df.groupby('class')['class'].size()

class
ALL with hyperdiploid karyotype                     40
ALL with t(12;21)                                   58
ALL with t(1;19)                                    36
AML complex aberrant karyotype                      48
AML with inv(16)/t(16;16)                           28
AML with normal karyotype + other abnormalities    351
AML with t(11q23)/MLL                               38
AML with t(15;17)                                   37
AML with t(8;21)                                    40
CLL                                                448
CML                                                 76
MDS                                                206
Non-leukemia and healthy bone marrow                74
Pro-B-ALL with t(11q23)/MLL                         70
T-ALL                                              174
c-ALL/Pre-B-ALL with t(9;22)                       122
c-ALL/Pre-B-ALL without t(9;22)                    237
mature B-ALL with t(8;14)                           13
Name: class, dtype: int64

In [ ]:
df = df[~df['class'].isna()]

In [ ]:
import numpy as np

In [ ]:
df.isna().sum()

class             0
AFFX-BioB-5_at    0
AFFX-BioB-M_at    0
AFFX-BioB-3_at    0
AFFX-BioC-5_at    0
                 ..
1570644_at        0
1570645_at        0
1570650_at        0
1570651_at        0
1570653_at        0
Length: 54676, dtype: int64

In [ ]:
np.array([df.isna().sum() == 0]).sum()

54676

In [ ]:
for i in range(0,5):
  df[(int(len(df)/5) * i) : (int(len(df)/5) * (i+1))].to_csv('/content/drive/MyDrive/app_leukemia/dados/UTFPR/flat/GSE13159_'+str(i+1)+'.csv', index=False)

In [ ]:
df.to_csv('flat/GSE13159.csv', index=False)

In [ ]:
def disease(string):
  if string.find("MDS") != -1:
    return 'MDS'
  elif string.find("Non-leukemia and healthy bone marrow") != -1:
    return 'Non-leukemia and healthy bone marrow'
  else:
    return 'Leukemia'

In [ ]:
df['disease'] = list(map(disease, df['class']))

In [ ]:
df.groupby('disease').size()

disease
Leukemia                                973
MDS                                     121
Non-leukemia and healthy bone marrow     58
dtype: int64

In [ ]:
def leukemia(string):
  if string.find("CLL") != -1:
    return 'CLL'
  elif string.find("CML") != -1:
    return 'CML'
  elif string.find("ALL") != -1:
    return 'ALL'
  elif string.find("AML") != -1:
    return 'AML'
  else:
    return None

In [ ]:
df['leukemia'] = list(map(leukemia, df['class']))

In [ ]:
df.groupby('leukemia',dropna=False).size()

leukemia
ALL    436
AML    257
CLL    237
CML     43
NaN    179
dtype: int64

In [ ]:
def subtypes(string):
  if string.find("ALL with t(12;21)") != -1:
    return 'ALL with t(12;21)'
  elif string.find("mature B-ALL with t(8;14)") != -1:
    return 'mature B-ALL with t(8;14)'
  elif string.find("c-ALL/Pre-B-ALL without t(9;22)") != -1:
    return 'c-ALL/Pre-B-ALL without t(9;22)'
  elif string.find("T-ALL") != -1:
    return 'T-ALL'
  elif string.find("ALL with hyperdiploid karyotype") != -1:
    return 'ALL with hyperdiploid karyotype'
  elif string.find("c-ALL/Pre-B-ALL with t(9;22)") != -1:
    return 'c-ALL/Pre-B-ALL with t(9;22)'
  elif string.find("ALL with t(1;19)") != -1:
    return 'ALL with t(1;19)'
  elif string.find("Pro-B-ALL with t(11q23)/MLL") != -1:
    return 'Pro-B-ALL with t(11q23)/MLL'
  elif string.find("AML with t(15;17)") != -1:
    return 'AML with t(15;17)'
  elif string.find("AML complex aberrant karyotype") != -1:
    return 'AML complex aberrant karyotype'
  elif string.find("AML with t(11q23)/MLL") != -1:
    return 'AML with t(11q23)/MLL'
  elif string.find("AML with normal karyotype + other abnormalities") != -1:
    return 'AML with normal karyotype + other abnormalities'
  elif string.find("AML with t(8;21)") != -1:
    return 'AML with t(8;21)'
  elif string.find("AML with inv(16)/t(16;16)") != -1:
    return 'AML with inv(16)/t(16;16)'
  else:
    return None

In [ ]:
df['subtypes'] = list(map(subtypes, df['class']))

In [ ]:
df.groupby('subtypes',dropna=False).size()

subtypes
ALL with hyperdiploid karyotype                     35
ALL with t(12;21)                                   64
ALL with t(1;19)                                    10
AML complex aberrant karyotype                      24
AML with inv(16)/t(16;16)                           20
AML with normal karyotype + other abnormalities    160
AML with t(11q23)/MLL                               17
AML with t(15;17)                                   20
AML with t(8;21)                                    16
Pro-B-ALL with t(11q23)/MLL                         23
T-ALL                                               79
c-ALL/Pre-B-ALL with t(9;22)                        62
c-ALL/Pre-B-ALL without t(9;22)                    158
mature B-ALL with t(8;14)                            5
NaN                                                459
dtype: int64

In [ ]:
df = df.drop(columns=['class'])

In [ ]:
df.to_csv('hierarchical/GSE13159.csv', index=False)